{
    "trailingComma": "none",
    "printWidth": 100,
    "semi": false,
    "importOrder": ["^@nestjs/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["typescript", "decorators-legacy"]
  }
  